:80 {
    handle /login* {
        reverse_proxy backend:8000
    }
    handle /procesar/* {
        reverse_proxy backend:8000
    }
    handle /confirmar/* {
        reverse_proxy backend:8000
    }
    handle /rechazar/* {
        reverse_proxy backend:8000
    }
    handle /health {
        reverse_proxy backend:8000
    }
    handle /pendientes* {
        reverse_proxy backend:8000
    }
    handle /bitacora* {
        reverse_proxy backend:8000
    }
    handle /recuperar/* {
        reverse_proxy backend:8000
    }
    handle /descargar/* {
        reverse_proxy backend:8000
    }
    handle {
        root * /srv/dist
        try_files {path} /index.html
        file_server
    }
}
